root {
  /* VARS -COLOR SCHEME- */
  --txt-lt: #fff8d9;
  --brdr-lt: #dbb4d5;
  --brdr-drk: #754f6f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* MTG FONT AND BACKGROUND*/
  font-family: 'Cinzel', serif;
  background: #383836;
  background-image: url(https://gatherer.wizards.com/Images/background/Gray_Patterned_BG.jpg);
  background-position: center;
  background-repeat: no;
  color: var(--txt-lt)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
