:root {
  /* VARS -COLOR SCHEME- */
  --txt-lt: #fff8d9;
  --brdr-lt: #dbb4d5;
  --brdr-drk: #754f6f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* MTG FONT AND BACKGROUND*/
  font-family: "Cinzel", serif;
  background: #383836;
  background-image: url(https://gatherer.wizards.com/Images/background/Gray_Patterned_BG.jpg);
  background-position: center;
  background-repeat: no;
  color: var(--txt-lt);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}
/* cardsGallery */
.cardImage {
  margin: 10px;
  min-width: 20vw;
  max-width: 20vw;
}

#cardCards {
  transition: .6s;  
}

#cardCards:hover {
  transform: translate(0, -4%);
  box-shadow:
    0 5px 2px #fff,
    0 5px 3px #fff,
    0 5px 21px var(--brdr-lt),
    0 5px 41px var(--brdr-lt),
    0 5px 46px var(--brdr-lt),
    0 5px 51px var(--brdr-lt),
    0 5px 76px var(--brdr-lt);
}

#cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* flex and alignment */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

/* Login/signup page */

form {
  width: 55%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -60%);
}

.loginHeader {
  font-size: 38px;
  color: #3c67b6;
  text-decoration: underline;
}

button {
  color: #5884d6;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

.button {
  color: #5884d6;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid black;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.signupHeader {
  font-size: 38px;
  color: #3c67b6;
  text-decoration: underline;
  font-weight: bold;
}

.my-signup1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-signup2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

/* modal styles */
#modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 650px;
  height: fit-content;
  margin-top: -200px;
  margin-left: -325px;
  overflow: auto;
  background: rgba(219, 180, 213, .1);
  border: 1px solid rgba(219, 180, 213, .25);
  border-radius: 6px;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 4px rgba(0,0,0,.5); 
}

#modalBtns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#modalBtn, #closeModalBtn {
  color: #000;
  cursor: pointer;
}

#modalBtn, #closeModalBtn, #dashLink {
  background-color: rgba(219, 180, 213, .5);
  border-radius: 20px;
  width: 200px;
  box-shadow: 0 5px 4px rgba(0,0,0,.5); 
  transition: .6s; 
}

#modalBtn:hover, #closeModalBtn:hover, #dashLink:hover {
  background-color: rgba(219, 180, 213, .15);
  color: #fff;
  transform: translate(0, -8%);  
}

#modalContent img {
  margin-left: 20px;
}

#modalHeaderBox {
  display: flex;
  justify-content: center;
}

#modalHeader {
  font-size: 25px;
}

/* nav styles */
#navHeaderBox {
  display: flex;
  justify-content: center;
}

#navLinksBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

#dashLink {
  color: #000;
  text-decoration: none;
  text-align: center;
}

#navHeader {
  color: #fff;
  text-shadow:
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 42px var(--brdr-lt),
    0 0 82px var(--brdr-lt),
    0 0 92px var(--brdr-lt),
    0 0 102px var(--brdr-lt),
    0 0 151px var(--brdr-lt);
}

#navContainer { 
  margin-bottom: 15px;
}

/* additional footer styles */
#contactFooter {
  height: fit-content;
}

#footerLinksBox {
  display: flex;
  justify-content: right;
  align-items: center;
}

#gitHubLink {
  text-decoration: none;
  color: var(--brdr-lt);
}